<div class="location_template">
  <div class="content_data_block">
    <h3 class="content_data_block_title"><%= t.content.content_location.description %></h3>
    <div class="content_data_row"><%= "#{element.location_street}, #{element.location_number} #{element.location_complement} #{element.location_city}, #{element.location_country} #{element.location_zip}" %></div>
    <div class="content_data_row"><div id="location-map" style="width: 650px; height: 300px"></div></div>
  </div>
</div>