         <div id="location_template">
           <div class="entity-field"><span class="entity-fieldlabel">Street</span> <span class="entity-fieldvalue"><%%= entity.location_street %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Number</span> <span class="entity-fieldvalue"><%%= entity.location_number %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Complement</span> <span class="entity-fieldvalue"><%%= entity.location_complement %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">City</span> <span class="entity-fieldvalue"><%%= entity.location_city %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">State</span> <span class="entity-fieldvalue"><%%= entity.location_state %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Country</span> <span class="entity-fieldvalue"><%%= entity.location_country %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Zip</span> <span class="entity-fieldvalue"><%%= entity.location_zip %></span> </div>
         </div>
