         <div id="rca_template">
           <div class="entity-field"><span class="entity-fieldlabel">Owner</span> <span class="entity-fieldvalue"><%%= entity.permission_owner %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Group</span> <span class="entity-fieldvalue"><%%= entity.permission_group %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Owner permissions</span> <span class="entity-fieldvalue"><%%= entity.permission_modifier_owner %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Group permissions</span> <span class="entity-fieldvalue"><%%= entity.permission_modifier_group %></span> </div>
           <div class="entity-field"><span class="entity-fieldlabel">Everybody permissions</span> <span class="entity-fieldvalue"><%%= entity.permission_modifier_all %></span> </div>
         </div>       